*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    background: black;
    color: white;
}

.wrapper{
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(255, 64, 50, 08), rgba(71, 17,116,0.9)), url(../images/background.jpg) no-repeat center;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.header .logo {
    width: 100px;
}

.header .header-right{
    display: flex;
    align-items: center;
    gap: 25px;
}

.header .header-right a{
    color: #fff;
}

.header .header-right a:hover{
    color: purple;
}


/* Main content */

.main-content{
    max-width: 1100px;
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
    padding: 0 40px;

}

.main-content form{
    flex: 1;
}

.main-content .text-container{
    flex: 1;
}

/* form */

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}

.form-group input,
.form-group textarea{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: 0;
}

.form-group textarea{
    height: 100px;
    resize: none;
    margin-bottom: 10px;
}

.btn{
    display: block;
    padding: 15px 20px;
    border-radius: 20px;
    border: none;
    width: 100%;
    background-color: #ff4032;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover{
    background-color: #ff5c4d;
}


/* Text-container */

.text-container h1{
    font-size: 50px;
    margin: 50px 0 20px;
    line-height: 1.2;
}

.text-container {
    font-size: 18px;
}

@media (max-width: 768px){
    .header,
    .header .header-right{
        flex-direction: column;
        gap: 10px;
    }

    .main-content{
        flex-direction: column-reverse;
        justify-content: start;
        margin: auto;
    }

    .main-content form,
    .main-content .text-container{
        width: 100%;
    }

    .main-content h1{
        font-size: 40px;
    }

}